body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    min-width: 70%
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f9f9f9;
}

form.example button {
    padding-top: 0px;
    float: left;
    width: 20%;
    height: 46px;
    text-align: center;
    background: #0079BC;
    color: white;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    font-size: 20px;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
.squaredOne {
    width: 20px;
    height: 20px;
    background: #ddd;
    margin: 0px 10% 0px;
    padding-right: 10px;
    border-radius: 100%;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.myTable {
    text-align: center;
}

#note {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    font-size: 15px;
}

#navbar {
    border-radius: 0px;

}

.navbar {
    position: fixed;
    width: 100%;
}

#cont {
    padding-top: 50px;

}

#fulltime {
    font-size: 10px;
}
.jumbotron {
    background-color: #ffffff;
}
.footer {
    text-align: center;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 10%;
    width: 300px;
}

#navImage {
    position: absolute;
}
.td {
    vertical-align: middle;
}

#myRow {
    vertical-align: middle;
}


/*--------------------------------------------------------*/
dl {
    border: 3px double #ccc;
    padding: 0.5em;
}
dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
    color: #0079BC;
    border-bottom: 2px dotted #ccc;

}
dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
   font-weight: bold;
}

.userInput {
    width: 94%;
    display: inline-block;
    margin-right: -4px;
    padding: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
}

.userInputButton {
    height: 34px;
    width: 6%;
    padding: 0px;
    margin: 0px;
}

#editDiv {
    width: 99%;
}

#hredit {
    margin-left: 1%;
    color: #000;
    background-color: #C0C0C0;
    height: 1px;
}

footer {
    background-color: #ffffff;
}

.ui-corner-all
{
    -moz-border-radius: 4px 4px 4px 4px;
}
.ui-widget-content {
    border: 1px solid #848484;
    color: black;
        
    font-size: 50px;
    background-color: white
}
.ui-widget
{
    font-family: Verdana,Arial,sans-serif;
    font-size: 13px;
}
.ui-menu
{
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0px;
}
.ui-autocomplete
{
    cursor: pointer;
    position: absolute;
}
    .ui-autocomplete :hover {
        background-color: #2092FB;
    }
.ui-menu .ui-menu-item {
    clear: left;
    float: left;
    margin: 0;
    padding-top: 3px;
    padding-right: 12px;
    padding-bottom: 3px;
    padding-left: 12px;
    width: 100%;
    font-size: 15px;
}

.ui-menu .ui-menu-item a
{
    display: block;
    padding: 2px;
    text-decoration: -webkit-activelink;
    cursor: pointer;

}
.ui-menu .ui-menu-item a:hover
{
    display: block;
    padding: 2px;
    text-decoration: none;
    color: #4488F6;
    cursor: pointer;
    background-color: red;

}
.ui-widget-content a {
    color: #2092FB;
}

.navbar-nav > li > a {
    padding-right: 30px;
}

#addButton {
    margin-left: 10px;

}
#allCompH {
    margin-left: 10px;
}

#hrDetail {
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-horizontal .form-group {
    margin-left: -100px;
    margin-right: 50px;
}

#editSubButtons {
    margin-left: -15px;
    margin-bottom: 50px;
}

.btn-group, .btn-group-vertical {
    margin-left: 10px;
}