body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    min-width: 70%
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f9f9f9;
}

form.example button {
    padding-top: 0px;
    float: left;
    width: 20%;
    height: 46px;
    text-align: center;
    background: #0079BC;
    color: white;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    font-size: 20px;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
.squaredOne {
    width: 20px;
    height: 20px;
    background: #ddd;
    margin: 0px 10% 0px;
    padding-right: 10px;
    border-radius: 100%;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.myTable {
    text-align: center;
}

#note {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    font-size: 15px;
}

#navbar {
    border-radius: 0px;

}

.navbar {
    position: fixed;
    width: 100%;
}

#cont {
    padding-top: 50px;

}

#fulltime {
    font-size: 10px;
}
.jumbotron {
    background-color: #ffffff;
}
.footer {
    text-align: center;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 10%;
    width: 300px;
}

#navImage {
    position: absolute;
}