@{
    ViewBag.Title = "Pc database";
}


<section class="jumbotron text-center">
    <div id="cont" class="container">

        <img src="~/images/zf_logo.jpg" alt="Sample Photo" width="199px" height="199px" />  <h1 class="jumbotron-heading">ZF Frýdlant computer database</h1>
        <p class="lead text-muted">This is project created for IT department ZF Frydlant for better domain computer management. If you have some issues or questions you can ask on email address: <a href="mailto:trwsd@trw.com">trwsd@trw.com</a></p>

        @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "example" }))
        {
            <input type="text" placeholder="Search name.." name="searchText" autocomplete="off">
            <button type="submit"><span class="glyphicon glyphicon-search"></span><i class="fa fa-search"></i></button>
        }
    </div>
</section>